DATABASE_URL=""
PAYLOAD_SECRET="" # openssl rand -hex 16

NEXT_PUBLIC_SERVER_URL="http://localhost:3000"

# Media and File storage with Supabase
SUPABASE_BUCKET_NAME="Files"
SUPABASE_PROJECT_REF="csypwoztageetipldxfu"
SUPABASE_REGION="us-east-1"
SUPABASE_ACCESS_KEY_ID="83fe661e7cc3f7e277103c36f08cd7f2"
SUPABASE_SECRET_ACCESS_KEY="67754e4980ac8896113ef00646ee6138788aa2b3b72508c099d836bcedcfa6a5"
