DATABASE_URL=""
PAYLOAD_SECRET="" # openssl rand -hex 16

NEXT_PUBLIC_SERVER_URL="http://localhost:3000"

# better-auth plugin integration
BETTER_AUTH_SECRET="" # openssl rand -hex 16
# BETTER_AUTH_URL="" # Using NEXT_PUBLIC_SERVER_URL with better-auth to avoid repitition

# Media and File storage with Supabase
SUPABASE_BUCKET_NAME="Files"
SUPABASE_PROJECT_REF=""
SUPABASE_REGION="us-east-1"
SUPABASE_ACCESS_KEY_ID=""
SUPABASE_SECRET_ACCESS_KEY=""
