@font-face {
  font-family: 'FunnelSans';
  font-style: normal;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'FunnelSans';
  font-style: italic;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-Italic-VariableFont_wght.ttf');
}

@import 'tailwindcss';

@theme {
  --font-sans: 'FunnelSans';

  --animate-wave: wave-animation 1.5s linear;
}

html {
  @apply transition-colors duration-300 ease-in-out;
}

body {
  @apply font-sans bg-white text-black;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-black text-white;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
    transform-origin: 70% 70%;
  }
  16% {
    transform: rotate(14deg);
    transform-origin: 70% 70%;
  }
  32% {
    transform: rotate(-8deg);
    transform-origin: 70% 70%;
  }
  49% {
    transform: rotate(14deg);
    transform-origin: 70% 70%;
  }
  68% {
    transform: rotate(-4deg);
    transform-origin: 70% 70%;
  }
  84% {
    transform: rotate(14deg);
    transform-origin: 70% 70%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 70% 70%;
  }
}
