@font-face {
  font-family: 'Funnel-Sans';
  font-style: normal;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Funnel-Sans';
  font-style: italic;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-Italic-VariableFont_wght.ttf');
}

@import 'tailwindcss';

@theme {
  --font-sans: 'FunnelSans';

  --color-green-50: #edf4f2;
  --color-green-300: #598276;
  --color-green-500: #31473a;
  --color-green-600: #394840;
  --color-green-800: #293733;
  --color-green-950: #0c201a;
}

body {
  @apply font-sans;
}
