@font-face {
  font-family: 'FunnelSans';
  font-style: normal;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'FunnelSans';
  font-style: italic;
  src: url('../src/assets/fonts/funnel-sans/FunnelSans-Italic-VariableFont_wght.ttf');
}

@import 'tailwindcss';

@theme {
  --font-sans: 'FunnelSans';
}

html {
  @apply transition-colors duration-300 ease-in-out;
}

body {
  @apply font-sans bg-white text-black;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-black text-white;
  }
}
